.section-image {
  background: url("/Assets/Frame4.2.png") no-repeat center;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 170px 0;
  font-family: "Open Sans", sans-serif;
  /* height: 700px; */
}

.section-text {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  display: flex;
  min-width: 90%;
  justify-content: space-around;
}

.day,
.hour,
.minute,
.second {
  min-width: 60px;
}

.h4 {
  margin-bottom: 20px;
  font-weight: 600;
}

.p {
  font-size: 12px;
}

@media screen and (min-width: 992px) {
  .h1 {
    font-size: 54px;
  }

  .h4 {
    font-size: 32px;
  }
  .p {
    font-size: 16px;
  }

  .timer {
    min-width: 60%;
  }

  .section-image {
    height: 780px;
  }
}
